.card img{
    margin-top: 5px;
    height: 230px;
    width: 230px;
    margin-left: 12%;
}

.card h4{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    margin-left: 25px;
}
.card h5{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    margin-left: 25px;
}
.card {
    height: 450px;
    width: 300px;
    background-color: #c99b63;
    border-radius: 10px;
}

.card button{
    background-color: #fed199;
    height: 30px;
    width: 150px;
    margin-left: 73px;
    border-radius: 10px;
}